body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  background: #f1ecec;
}
#header{
  max-width: 980px;
  margin: 0 auto;
}

#bird{
  color: #1da1f2;
}

#tweetContainer {
  /* width: 500px; */
  max-width: 980px;
}

#tweetTextareaDiv {
  position: relative;
  /* max-width: 500px; */
}

#tweetTextarea {
  width: 90%;
  /* position: relative; */
  resize: none;
  /* width: 98%; */
  height: 100px;
  /* min-width: 300px; */
  margin: 10px;
  /* margin: 0 auto; */
  background-color: #fff;
  border: 3px solid #91B5C2;
  border-radius: 10px;
  font-size: 14px;
  padding-top: 4px;
  padding-left: 4px;
}

#charLeft {
  position: absolute;
  bottom: 5%;
  right: 10%;
  font-size: 12px;
}

.showw {
  display: block;
}

.hidee {
  display: none;
}

#displaySuggestions{
  /* ul */

}
.suggestion {
  /* li */
  list-style: none;
  background: white;
}

.suggestion:hover {
  cursor: pointer;
  /* background: rgb(195, 239, 255); */
  font-size: 18px;
}
.suggestion:focus {
  cursor: pointer;
  /* background: rgb(195, 239, 255); */
  font-size: 18px;
}

.suggestionContent {
  display: inline;
}

.thumbnail {
  border: 1px solid #ffffff00;
  border-radius: 25px;
}

.verified {
  width: 15px;
}

#submit {
  position: absolute;
  bottom: -23%;
  right: 9%;
  background: #91B5C2;
  padding: 10px;
  border-radius: 26px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  width: 87px;
}
